<div class="p-4">
  <div class="p-4 grid lg:grid-cols-3 gap-4">
    <div>
      <p class="text-xl font-semibold">Nome</p>
      <p class="text-lg">{{ user.name }}</p>
    </div>
    <div>
      <p class="text-xl font-semibold">Email</p>
      <p class="text-lg">{{ user.email }}</p>
    </div>
  </div>
  <div class="p-4 grid lg:grid-cols-3 gap-4">
    <div>
      <p class="text-xl font-semibold">País</p>
      <p class="text-lg">{{ user.country }}</p>
    </div>
    <div>
      <p class="text-xl font-semibold">Estado</p>
      <p class="text-lg">{{ user.state }}</p>
    </div>
  </div>
  <div class="p-4 grid lg:grid-cols-3 gap-4">
    <div>
      <p class="text-xl font-semibold">Estado civil</p>
      <p class="text-lg">{{ user.maritalStatus }}</p>
    </div>
    <div>
      <p class="text-xl font-semibold">Renda mensal</p>
      <p class="text-lg">{{ user.monthlyIncome }}</p>
    </div>
    <div>
      <p class="text-xl font-semibold">Data de nascimento</p>
      <p class="text-lg">{{ user.birthDate }}</p>
    </div>
  </div>
</div>
