<form class="grid lg:grid-cols-3 lg:gap-4" [formGroup]="userForm">
  <ng-container formGroupName="contactInformations" ]>
    <ng-container formArrayName="phoneList">
      @for (phone of phoneList.controls; track phone) {
      <mat-form-field class="w-full" [formGroupName]="$index">
        <mat-label>{{ phoneList.value[$index].typeDescription }}</mat-label>
        <input
          matInput
          [placeholder]="phoneList.value[$index].type | phonePlaceholder"
          [mask]="phoneList.value[$index].type | phoneMask"
          formControlName="number"
        />
      </mat-form-field>
      }
    </ng-container>
  </ng-container>
</form>
