<div>
  <div class="my-4 grid sm:grid-cols-2 sm:gap-4 lg:grid-cols-6">
    <mat-form-field>
      <mat-label>Tipo:</mat-label>
      <input matInput type="text" placeholder="Ex. Residencial" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Rua:</mat-label>
      <input matInput type="text" placeholder="Ex. Rua de tal" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Complemento:</mat-label>
      <input matInput type="text" placeholder="Ex. Próximo ao parque" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>País:</mat-label>
      <input matInput type="text" placeholder="Ex. Brazil" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Estado:</mat-label>
      <input matInput type="text" placeholder="Ex. São Paulo" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Cidade:</mat-label>
      <input matInput type="text" placeholder="Ex. São Paulo" />
    </mat-form-field>
  </div>
  <hr class="block lg:hidden" />
  <div class="my-4 grid sm:grid-cols-2 sm:gap-4 lg:grid-cols-6">
    <mat-form-field>
      <mat-label>Tipo:</mat-label>
      <input matInput type="text" placeholder="Ex. Residencial" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Rua:</mat-label>
      <input matInput type="text" placeholder="Ex. Rua de tal" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Complemento:</mat-label>
      <input matInput type="text" placeholder="Ex. Próximo ao parque" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>País:</mat-label>
      <input matInput type="text" placeholder="Ex. Brazil" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Estado:</mat-label>
      <input matInput type="text" placeholder="Ex. São Paulo" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Cidade:</mat-label>
      <input matInput type="text" placeholder="Ex. São Paulo" />
    </mat-form-field>
  </div>
  <hr class="block lg:hidden" />
  <div class="my-4 grid sm:grid-cols-2 sm:gap-4 lg:grid-cols-6">
    <mat-form-field>
      <mat-label>Tipo:</mat-label>
      <input matInput type="text" placeholder="Ex. Residencial" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Rua:</mat-label>
      <input matInput type="text" placeholder="Ex. Rua de tal" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Complemento:</mat-label>
      <input matInput type="text" placeholder="Ex. Próximo ao parque" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>País:</mat-label>
      <input matInput type="text" placeholder="Ex. Brazil" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Estado:</mat-label>
      <input matInput type="text" placeholder="Ex. São Paulo" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Cidade:</mat-label>
      <input matInput type="text" placeholder="Ex. São Paulo" />
    </mat-form-field>
  </div>
</div>
