<mat-tab-group [(selectedIndex)]="currentTabIndex">
  <mat-tab label="Geral">
    @if(isInEditMode) {
    <app-general-informations [user]="userSelected"></app-general-informations>

    } @else {
    <app-general-informations-edit
      [user]="userSelected"
    ></app-general-informations-edit>
    }
  </mat-tab>
  <mat-tab label="Contato">
    @if (isInEditMode) {
    <app-contact-informations [user]="userSelected"></app-contact-informations>
    } @else {
    <app-contact-informations-edit
      [user]="userSelected"
    ></app-contact-informations-edit>
    }
  </mat-tab>
  <mat-tab label="Dependente">
    @if (isInEditMode) {
    <app-dependents-informations
      [dependentsList]="userSelected.dependentsList"
    ></app-dependents-informations>
    } @else {
    <app-dependents-informations-edit></app-dependents-informations-edit>
    }
  </mat-tab>
</mat-tab-group>
