<mat-tab-group [(selectedIndex)]="currentTabIndex">
  <mat-tab label="Geral">
    <ng-template mat-tab-label>
      Geral @if(isInEditMode && !generalInformationsValid) {
      <mat-icon class="text-xs" color="warn">circle</mat-icon>
      }
    </ng-template>

    @if(!isInEditMode) {
    <app-general-informations [user]="userSelected"></app-general-informations>

    } @else {
    <app-general-informations-edit
      [userForm]="userForm"
      [countriesList]="countriesList"
      [statesList]="statesList"
      (onCountrySelected)="onCountrySelected($event)"
    ></app-general-informations-edit>
    }
  </mat-tab>
  <mat-tab label="Contato">
    <ng-template mat-tab-label>
      Contato @if(isInEditMode && !contactInformationsValid) {
      <mat-icon class="text-xs" color="warn">circle</mat-icon>
      }
    </ng-template>
    @if (!isInEditMode) {
    <app-contact-informations [user]="userSelected"></app-contact-informations>
    } @else {
    <app-contact-informations-edit
      [userForm]="userForm"
    ></app-contact-informations-edit>
    }
  </mat-tab>
  <mat-tab label="Dependente">
    <ng-template mat-tab-label>
      Dependente @if(isInEditMode && !dependentsListValid){
      <mat-icon class="text-xs" color="warn">circle</mat-icon>
      }
    </ng-template>
    @if (!isInEditMode) {
    <app-dependents-informations
      [dependentsList]="userSelected.dependentsList"
    ></app-dependents-informations>
    } @else {
    <app-dependents-informations-edit
      [userForm]="userForm"
      (onRemoveDependent)="removeDependent($event)"
      (onAddDependent)="addDependent()"
    ></app-dependents-informations-edit>
    }
  </mat-tab>
</mat-tab-group>

<button (click)="mostrarForm()" class="p-2 text-xl bg-blue-600">
  mostra form
</button>
