<div class="max-w-screen-xl mx-auto p-4">
  <mat-card appearance="outlined">
    <mat-card-content>
      <app-users-list
        [usersList]="usersList"
        [isInEditMode]="isInEditMode"
        (onUserSelected)="onUserSelected($event)"
      ></app-users-list>
      @if (userSelectedIndex !== undefined) {
      <app-buttons-container
        [isInEditMode]="isInEditMode"
        (onEditButton)="onEditButton()"
        (onCancelButton)="onCancelButton()"
      ></app-buttons-container>
      <app-user-informations-container
        [userSelected]="userSelected"
        [isInEditMode]="isInEditMode"
      ></app-user-informations-container>
      }</mat-card-content
    >
  </mat-card>
</div>
